.container {
    float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}
.pagination {
    margin-bottom : 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    h5 {
        display: inline-block;
        margin-top: 10px;
        color: #081C24;
    }

    &__button {
        margin: 10px;
    }
}

/* Styling search bar*/
.search {
    &__input {
        font-size: 1em;
        border: 1px solid #2a2e31;
        background-color:#fff;
        color:#505358;
        width: 100%;
        height: 40px;
        letter-spacing: 1.5px;
        text-align: center;
        transition: transform 250ms ease-in-out;
        transition: all 250ms ease-in-out;
        transform-style: preserve-3d;

        &::placeholder {
            color: #000;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        &:hover,
        &:focus {
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid gray;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}
  
// Movie card styling
.card {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #081C24;

    &:hover {
        cursor: grab;
        opacity: 0.80;
    }

    &__poster {
        width: 100%;
        height: 80%; 
    }

    p {
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: bold;
        color: #fff;
    }
   
}

.result{
    margin-bottom: 50px;
}

#not_search {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

// Media queries for responsive layout
@media(min-width:500px) {
    .result {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 3%;
    }
}
  
@media(min-width:1000px) {
    .result {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-gap: 3%;
    }
   
}
  
@media(min-width:1450px) {
    .result {
        display: grid;
        grid-template-columns:repeat(5, 1fr);
        grid-gap: 3%;
    }
}