.container {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

// Styling pagination
.pagination {
    margin-bottom : 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    h5 {
        display: inline-block;
        margin-top: 10px;
        color: #081C24;
    }

    &__button {
        margin: 10px;
    }
}

/* Styling search bar*/
.search {
    &__input {
        font-size: 1em;
        border: 1px solid #2a2e31;
        background-color:#fff;
        color:#505358;
        width: 60%;
        margin: auto;
        height: 40px;
        letter-spacing: 1.5px;
        text-align: center;
        transition: transform 250ms ease-in-out;
        transition: all 250ms ease-in-out;
        transform-style: preserve-3d;

        &::placeholder {
            color: #000;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        &:hover,
        &:focus {
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid gray;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}
  
// Movie card styling
.card {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #081C24;

    &:hover {
        cursor: grab;
        opacity: 0.80;
    }

    &__poster {
        width: 100%;
        height: 80%; 
    }

    p {
        color: #fff;
    }
   
}

.result{
    margin-bottom: 50px;
}

// Styling message and draw
.no-movie {
    padding-top: 10%;
    margin: auto;
    text-align: center;
    img {
        width: 30%;
    }
  
    h3 {
      color: #081C24;
    }
}


// Media queries for responsive layout
@media(max-width:600px) {
    .result {
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

// Media queries for responsive layout
@media(min-width:600px) {
    .result {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap: 3%;
        margin-bottom: 100px;
        margin-top: 30px;
    }
}
  
@media(min-width:1000px) {
    .result {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-gap: 3%;
        margin-bottom: 100px;
        margin-top: 30px;
    }
   
}
  
@media(min-width:1450px) {
    .result {
        display: grid;
        grid-template-columns:repeat(5, 1fr);
        grid-gap: 3%;
        margin-bottom: 100px;
        margin-top: 30px;
    }
}