<div>
    <div class="serach">
        <input type="text" class="search__input" placeholder="Search a movie..." [formControl]="searchField" />
    </div>
    <ng-container *ngIf="isLoading == false">
        <div class="container">
            <div *ngFor="let movie of results" class="card" (click)="moviedetails(movie.imdbID)">
                <div class="card_poster">
                    <img src={{movie.Poster}} class="card__poster__img">
                </div>
                <div class="card__title">
                    <p>{{(movie.Title.length>13)? (movie.Title | slice:0:13)+'..':(movie.Title)}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>